
/*/////////////////////////////////////////////MOBILE////////////////////////////////////////////*/
@media (max-width: 767px) {
    *{
        box-sizing: border-box;
    }
    .header_mobile{
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .header_desktop{
        display: none;
    }
    .contactos{
        display: none;
    }
    .navegador_mobile{
        max-width: 85%;
        max-height: 40px;
        position: absolute;
        left: 7%;
        top: 40px;
        right: 6%;

        background-color: white;
        box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
        border-radius: 5px;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        margin:auto;
        align-items: center;
        height: 40px;
        list-style: none;
        padding: 0 2%;
        position: relative;

    }
    .menu_logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 55px;
        background: #FFFFFF;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        position: absolute;
        left:30%;
    }
    .menu_logo img{
        width: 80%;
    }
    .menu-item{
        margin-right: 0%;
    }
    .btn_download{
        height: 34px;
        background: #5956E9;
        border-radius: 3px;

        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
        color: #FFFFFF;
    }
}
/*////////////////////////////////////////////desktop///////////////////////////////////////////////*/
@media (min-width: 992px) {
    *{
        box-sizing: border-box;
    }
    .header_mobile{
        display: none;
    }
    .header_desktop {
        position: relative;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 135px;
        top: 35px;
        right: 135px;
    }
    .contactos{
        display: flex;
        width: 100%;
        margin: auto;
        justify-content:space-between;
        padding:0;
        color: white;
    }
    .contact_one{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25vw;
    }
    
    .contact_one img{
        margin-right: 30px;
    }
    
    .contact_two{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .contact_mail{
        display: flex;
        margin: auto;
        justify-content: space-between;
    }
    
    .contact_telefono{
        display: flex;
        margin: auto;
        justify-content: space-between;
    }
    .menu{
        display: flex;
        justify-content:space-between;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        left:0;
        right: 0;
        list-style: none;
    }
    
    .navegador_desktop{
        background-color: white;
        width: 100%;
        max-height: 60px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        max-width: 1170px;
        max-height: 60px;

    }

    .menu{
        display: flex;
        justify-content: space-between;
        margin:auto;
        align-items: center;
        max-height: 60px;
        list-style: none;

    }
    .menu_logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 60px;
        background: #FFFFFF;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
  
    .btn_download{
        margin-right: 30px;
        background: #5956E9;
        border-radius: 5px;
        width: 158px;
        height: 50px;
        color: #FFFFFF;
    }
    .menu div{
        width: 200px;
        height: 90px;
        background: white;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    .iconos{
        padding: 0px 20px;
    }  
}